{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="m">
		<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo; </div>
      <h1 class="title_{$module}" id="title">{$title}</h1>
<div class="m_l f_l">
	<div class="left_boxx">		
		<div class="info_main">		
			<table width="100%">
			<td width="250" valign="top">
				<div id="mid_pos"></div>
				<div id="mid_div" onmouseover="SAlbum();" onmouseout="HAlbum();" onclick="PAlbum(Dd('mid_pic'));">
				<img src="{$albums[0]}" width="240" height="180" id="mid_pic"/><span id="zoomer"></span>
				</div>
				<div class="b5"></div>
				<div>
				{loop $thumbs $k $v}<img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');" class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}
				</div>
				<div class="b5"></div>
			</td>
			<td width="15"> </td>
			<td valign="top">
			<div id="big_div" style="display:none;"><img src="" id="big_pic"/></div>
      <?php 
      if(!isset($FD))
        $FD = cache_read('fields-'.substr($table, strlen($DT_PRE)).'.php');
        ?>
			<ul class="attrs">
      {loop $FD $i $cf}
      <li><strong>{$cf[title]}</strong>
      <a class="{$cf[name]}" href="{$MOD[linkurl]}search.php?kw={$$cf[name]}" rel="nofollow">{$$cf[name]}</a>
      </li>
      {/loop}
			{if $n1 && $v1}<li><strong>{$n1}</strong>：{$v1}</li>{/if}
			{if $n2 && $v2}<li><strong>{$n2}</strong>：{$v2}</li>{/if}
			{if $n3 && $v3}<li><strong>{$n3}</strong>：{$v3}</li>{/if}
			<li><strong>浏览次数</strong><span id="hits">{$hits}</span></li>
			{if $MOD[show_message] && $username && !$expired}
			<li><img src="{DT_SKIN}image/btn_message.gif" alt="留言咨询" class="c_p" onclick="Go('{$MOD[linkurl]}{rewrite('message.php?itemid='.$itemid)}');"/></li>
			{/if}
			</ul>
			</td>
			</tr>
			</table>
		</div>
		<div class="b10">&nbsp;</div>
    <h2>{$title}简介</h2>
		{if $CP}{template 'property', 'chip'}{/if}
		<div class="content" id="content">{$content}</div>
		<div class="b10">&nbsp;</div>
    <h2>{$title}的图片</h2>
    <h2>{$title}的供应信息</h2>
    <h2>{$title}的养殖方法</h2>
		<center>
		[ <a href="{$MOD[linkurl]}search.php" rel="nofollow">{$MOD[name]}搜索</a> ]&nbsp;
		[ <a href="javascript:SendFav();">加入收藏</a> ]&nbsp;
		[ <a href="javascript:SendPage();">告诉好友</a> ]&nbsp;
		[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
		[ <a href="javascript:window.close()">关闭窗口</a> ]
		</center>
		<br/>
		{template 'comment', 'chip'}
		<br/>
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
	<div class="m_r f_l">
		{if $MOD[page_srelate]}
		<div class="box_head"><div><strong>同类{$MOD[name]}</strong></div></div>
		<div class="box_body f_gray li_dot">
		<!--{tag("moduleid=$moduleid&condition=status=3&catid=$catid&areaid=$cityid&pagesize=".$MOD[page_srelate]."&order=addtime desc")}-->
		</div>
		{/if}
	</div>
</div>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
{template 'footer'}
